

.message__border {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(192, 192, 192);
  padding: 1rem 2.5rem;
  border-radius: 4rem;
  /*flex: 10%;*/
}

.message__input {
  border: none;
  overflow: hidden;
  background: transparent;
  outline: none;
  color: white;
  width: 100%;
  font-size: 1.4rem;
}

.message__send{
  font-size: 1.5rem;
}



@media screen and (max-width: 768px) {

  .message__input{
    font-size: 1.2rem;
  }

  .message__border {
    padding: 0.5rem 2rem;
  }

  .message__send{
    font-size: 1rem;
  }

}