*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
}
.navbar{
  height: 60px;
  width: 100%;
  background: linear-gradient(to right, #64a1e8, #0d57ac);
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
}
.gameholder{
  margin-top: 20px;
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 15px 25%;
}
.cardholder{
  width: 600px;
  display: grid;
  
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(5,1fr);
}
.card{
  margin: 2px;
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;  
  position: relative;
}

.front {
  position: absolute;
  transform: rotateY(180deg);
  transition: 1s;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.toBack {
  transform: rotateY(0deg);
}

.card > img {
  width: 100%;
  height: 100%;
}
.footer{
  height: 60px;
  width: 100%;
  background: linear-gradient(to right, #64a1e8, #0d57ac);
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 0px;
  position: absolute;
}
@media only screen and (max-width: 488px) {
  
  .gameholder{
    margin-top: 20px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 15px 1%;
  }
  .cardholder{
    width: 100%;
    display: grid;
    height: 300px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 5px 5px;
  }
  .card{
  
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;  
    position: relative;
  }
}
.modalcover{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #00000080;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-top: 20%;
  color:white;
  text-align: center;
  display: none;
}
.modal{
}
.display{
  display: block;

}
.glassBtn {
  padding: 0;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s all;
  background: linear-gradient(to left, #fe6270, #ff9f59);
  color: white;
  border: none;
  text-decoration: none;
  padding: 15px 10px;
  border-bottom: 5px solid #ffffff50;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 30px;
}

.text-center{
  text-align: center;
}

.glassBtn:hover {
  transform: scale(1.08);
}