* {
  font-family: "Montserrat", "sans-serif";
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(8, 8, 8, 0.622);
  width: 50rem;
  height: 50rem;
  margin: 7.5% auto;
  padding: 2rem;
  border-radius: 1rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 4rem;
  letter-spacing: 1.5px;
}

.login > input[type="text"] {
  margin-bottom: 2rem;
}

.login__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.login__button {
  width: 12rem;
  height: 4rem;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  font-weight: 500;
}

.login__button:hover {
  border: none;
  cursor: pointer;
  background-color: white;
  color: rgba(46, 18, 45, 1);
  transition: 0.4s;
}

input[type="text"].login__input {
  width: 60%;
  height: 4rem;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: none;
  /*border-bottom: 2px solid rgb(85, 49, 84);*/
  /*border-bottom: 2px solid #f1f1f16e;*/
  background-color: #f1f1f117;
  color: #fff;
  letter-spacing: 0.6px;
}

input[type="text"].login__input:focus {
  outline: 2px solid rgba(170, 170, 170, 0.5);
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .login {
    width: 90%;
  }
}
